.bodyrega{
  display: flex;
  justify-content: center;
  align-content: center;
  background: url("./img/fullbacknd.svg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  .mainrega{
    /* Задний фон у регистрации */
    margin: 20px auto;
    position: center;
    background: #FFE6C9;
    width: 800px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-content: center;
    .cssvanna{
      margin-top: 15px;
    }
    .regatxt{
      /* Регистрация Текст */

      position: absolute;
      margin-top: 165px;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 41px;
      letter-spacing: 0.41px;
      color: #FF5E00;
    }
    .form-rega{
      display: flex;
      position: absolute;
      margin-top: 220px;
      flex-direction: column;
      .padinput{
        padding-bottom: 10px;
      }
      .text-field__icon {
        position: absolute;
      }

      .text-field__icon .text-field__input {
        padding-right: 2.5rem;
      }

      .text-field__aicon {
        position: absolute;
        display: flex;
        align-items: center;
        top: -105px;
        bottom: 0;
        right: 1rem;
        width: 1rem;
        cursor: pointer;
      }
      .text-field__icon2 {
        position: relative;
      }

      .text-field__icon2 .text-field__input {
        padding-right: 2.5rem;
      }

      .text-field__aicon2 {
        position: absolute;
        display: flex;
        align-items: center;
        top: -10px;
        bottom: 0;
        right: 1rem;
        width: 1rem;
        cursor: pointer;
      }
    }
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* text-field */

.text-field__label {
  display: block;
  margin-bottom: 0.25rem;
}

.text-field__input {
  display: flex;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #AC8E71;
  background-color: #F3F3F3;
  background-clip: padding-box;
  border: 0;
  border-radius: 0.25rem;

}
.text-field__input::placeholder {color: #AC8E71;}
.text-field__input:focus {
  border-color: #F3F3F3;
  outline: 0;
}
.icon{
  background-image: url("./img/zamochek.svg");
  background-repeat: no-repeat;
  padding-left: 25px;
  background-position: 7px;

}

.butrega{
  /* Rectangle */

  margin-top: 3vh;
  width: 250px;
  height: 50px;
  left: 0;
  top: 25px;

  background: #FF5E00;
  border-radius: 30px;
  color: #FFFFFF;
}
.butrega:hover{
  /* Rectangle */

  margin-top: 3vh;
  width: 250px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 30px;
  color: #000000;
}
.h5rega{
  color: #7F4E1D;
  opacity: 51;
}
.h5regalink {
  color: #FF5E00;
}


