.containerFullPost{
    max-width: 1000px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin: 0 auto;
}
.petsActive{
    width: 100%;
    display: flex;
    .pet{
      width: 80px;
      height: 30px;
      font-size: 16px;
      color: white;
      background-color: #FF5E00;
      border-radius: 10px;
      text-align: center;
      padding-top: 5px;
      margin-right: 10px;
    }
}