.hotelID{
  display: flex;
  width: 100%;
  min-height: calc(100vh);
  justify-content: center;

  .aboutHotel{
    display: flex;
    margin-top: 2rem;
    width: 60rem;
    height: 40rem;

    .leftBlockAboutHotel{
      width: 50%;
      height: 40rem;
      .petsActive{
        margin-top: 1rem;
        margin-left: 3rem;
        width: 70%;
        height: 3rem;
        display: flex;
        .pet{
          width:100px;
          height: 40px;
          font-size: 20px;
          color: white;
          background-color: #FF5E00;
          border-radius: 10px;
          text-align: center;
          padding-top: 5px;
          margin-left: 10px;
        }
      }
      .imgHotelBlock{
        position: absolute;
        width: 27rem;
        height: 20rem;
        margin-left: 3rem;
        margin-top: 1rem;
        .imgHotel{
          width: 27rem;
          height: 20rem;
        }
      }
      .backbtn{
        /* Ellipse 18 */
        margin-left: 1rem;
        margin-top: 1rem;
        position: absolute;
        width: 2rem;
        height: 2rem;
        background: #ADADAD;
        border: 0;
        border-radius: 50%;
        background-image: url("./img/Arrow.svg");
        background-position: 0.5rem;
        background-size: 1rem;
        background-repeat: no-repeat;
        cursor: pointer;
      }
      .HotelTxt{
        margin-top: 25rem;
        margin-left: 3rem;
        font-weight: 450;
        font-size: 1rem;
      }
      .buttonMapPosition{
        position: relative;
        margin-left: 24rem;
        margin-top: -5.5rem;
        .buttonMap{
          /* Rectangle */
          width: 5rem;
          height: 2.5rem;
          font-size: 1rem;
          font-weight: 400;
          position: absolute;
          background: #FFAA00;
          border-radius: 5rem;
          border: 0;
          cursor: pointer;
        }
      }
      .btnOrderBlock{
        /* Rectangle */

        position: relative;
        margin-top: 7rem;
        margin-left: 3rem;


        .btnOrder{
          /* Rectangle */

          position: relative;
          width: 10rem;
          height: 3rem;
          font-weight: 300;
          font-size: 1rem;
          background: #FF5E00;
          border-radius: 3rem;
          border: 0;
          color: #FFFFFF;
          cursor: pointer;
        }

      }

    }

    .rightBlockAboutHotel{
      width: 50%;
      height: 40rem;
      .AboutHotelText{
        width: 30rem;
        word-break: break-all;
        font-weight: 400;
      }
    }

  }
}