  .animal{
    width: 5vw;
    height: 3vh;
    font-size: 2vh;
    font-weight: 500;
    color: black;
    background-color: #FFB77A;
    border-radius: 1vh;
    text-align: center;
    margin-right: 1vh;
  }
