.headerwrapp{
  display: flex;
  justify-content: space-between;
  background: #E18D29;
  height: 70px;
  width: 100vw;
  h3{
    margin-top: 10px;
    line-height: 3px;
    color: #FFFFFF;
  }
  .headerLeft{
    display: flex;
    max-width: 10vw;
  }
  .logotxt{
    text-align: center;
    vertical-align: middle;
  }
}