.methodcontent{
  display: flex;
  justify-content: center;
  align-content: center;
  background: url("./img/fullbacknd.svg");
  background-size: cover;
  width: 100%;
  min-height: calc(100vh);
  .conteinerreg{
    display: flex;
    margin-top: 5rem;
    background-color: #FFE6C9;
    width: 45rem;
    height: 30rem;
    justify-content: center;
    align-content: center;
    .logocont{
      display: flex;
      position: absolute;
      margin-top: 1.5rem;
      .logotipreg{
        width: 15rem;
      }
    }
    .textmethod{
      display: flex;
      position: relative;
      margin-top: 17rem;
      color: #FF5E00;
      font-weight: 600;
      font-size: 1.5rem;

    }
    .methreg{
      display: flex;
      position: absolute;
      margin-top: 22rem;

      .butmethreg1{
        /* Rectangle */

        width: 13rem;
        height: 2.5rem;
        left: 0;
        border-width: 0;
        background: #FF5E00;
        border-radius: 30px;
        color: #FFFFFF;
        font-size: 1rem;
        margin-right: 2rem;
      }
      .butmethreg1:hover{
        /* Rectangle */


        width: 13rem;
        height: 2.5rem;
        color: #000000;
        background: #FFFFFF;
        border: 1px solid #FF5E00;
        border-radius: 35px;
        font-size: 1rem;
      }
      .butmethreg2{
        /* Rectangle */

        width: 13rem;
        height: 2.5rem;
        left: 0;
        border-width: 0;
        background: #FF5E00;
        border-radius: 30px;
        color: #FFFFFF;
        font-size: 1rem;
      }
      .butmethreg2:hover{
        /* Rectangle */

        width: 13rem;
        height: 2.5rem;
        color: #000000;
        background: #FFFFFF;
        border: 1px solid #FF5E00;
        border-radius: 35px;
        font-size: 1rem;
      }
    }
  }
}