

.mainWelcome{
  /* Rectangle 3 */

  position: top;
  width: 100%;
  height: 150px;
  margin-block-end: 70px;

  background: #FFAA00;

  .mainBlock{
    display: block;
    margin-left: 25%;
    margin-right: 30%;
    width: auto;
    height: 150px;
    //background-color: red;
    .Vector{
      /* Vector */
      top: -10px;
      left: 60px;
      position: relative;
      width: 40.58px;
      height: 40.61px;

      transform: matrix(-0.04, -1, -1, -0.04, 0, 0);
    }
    .Vector1{
      /* Vector */

      position: relative;
      width: 60.8px;
      height: 60.22px;
      top: 30px;
      left: 30px;

      transform: rotate(-0.34deg);

    }
    .KotMain{
      height: 120px;
      width: 90px;
      position: relative;
      top: 20px;
      left: 60px;
    }
    .Oblaka{
      /* cl */

      position: relative;
      width: 150.85px;
      height: 60.79px;
      left: 200.56px;
      top: -60px;
      transform: rotate(-0.34deg);
    }
  }
}