.blockBackBasicWindow{
  display: flex;
  position: relative;
  justify-content: center;
  background: url("./img/fullbacknd.svg");
  background-size: cover;
  width: 100%;
  min-height: calc(100vh);
  .blockBasicWindow{
    display: flex;
    position: relative;
    background-color: #FFFFFF;
    width: 60rem;
    justify-content: center;
    .ImgLogoBasicWindow{
      position: absolute;
      width: 5rem;
      height: 5rem;
      justify-content: center;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      margin: 0 auto;
    }
    .petChoose{
      /* категориии */
      margin-top: 6rem;
      height: 3rem;
      position: absolute;
    }
    .textPopularHotel{
      font-size: 1.5rem;
      position: absolute;
      margin-top: 10rem;
      margin-right: 40rem;
      font-weight: 700;
      color: #7F4E1D;
    }

    .BlockHotels{
      margin-top: 13rem;
      position: relative;
      width: 60rem;
      .hotels{
        display: flex;
        flex-wrap: wrap;
        flex: 100%;
        position: relative;
        margin-left: 3rem;   
        text-decoration: none;   
      }
    }

  }
}