.blockBackBasicWindow{
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh);
  .blockBasicWindow{
    display: flex;
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
    justify-content: center;
    .ImgLogoBasicWindow{
      position: absolute;
      justify-content: center;
      margin: 0 auto;
    }
    .petChoose{
      /* категориии */
      margin-top: 6rem;
      height: 3rem;
      position: absolute;
    }
    .textPopularHotel{
      font-size: 1.5rem;
      position: absolute;
      margin-top: 10rem;
      font-weight: 700;
      color: #7F4E1D;
    }

    .BlockHotels{
      margin-top: 13rem;
      position: relative;
      .hotels{
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        flex: 100%;
        position: relative;
        text-decoration: none;   
      }
    }

  }
}