.SearchHotel{
    display: flex;
    width: 100%;
    min-height: calc(100vh);
    justify-content: center;
    .blockSearchHotel{
        width: 60rem;
        height: 5rem;
        margin-top: 1rem;
        display: inline;
        justify-content: center;
        .inputSearch {
            padding-left: 2rem;
            padding-right: 2rem;
            margin: 0 auto;
            display: flex;
            position: relative;
            width: 700px;
            height: 47px;
            border-radius: 20px;
            padding: 9px 4px 9px 40px; 
        }
        
        .BlockHotels{
            margin-top: 1rem;
            position: relative;
            width: 60rem;
            .hotels{
              display: flex;
              flex-wrap: wrap;
              flex: 100%;
              position: relative;
              margin-left: 3rem;   
              text-decoration: none;   
            }
        }
    }
}
