.Window{
  display: flex;
  justify-content: center;
  align-content: center;
  background: url("../MethodRegistration/img/fullbacknd.svg");
  background-size: cover;
  width: 100%;
  min-height: calc(100vh);
}
.ContentBg{
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.Content{
    width: 1920px;
    min-height: calc(80vh);
    justify-content: center;
    display: flex;
    text-align: center;
}
.Container{

    margin-top: 9px;
    width: 800px;
    height: 800px;
    background-color: #FFE6C9;
    border-radius: 40px;
    margin-bottom: 2rem;
}
.Inputs{
    width: 600px;
    margin-right: 0;
    justify-content: center;
    display: inline-block;
    align-content: center;
    height: 500px;
    text-align: center;
}
.textBox{
    width: 400px;
    height: 56px;
    font-size: 20px;
    border-radius: 5px;
    border-color: white;
    color: #86520a;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 10px;
}
.textBox:hover:after{
    border: 1px solid black;
}

.textBoxError{
    width: 400px;
    height: 56px;
    font-size: 20px;
    border-radius: 5px;
    border-color: red;
    color: #86520a;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 10px;
}
.RegImg{
    margin-top: 0;
    width: 160px;
    height: 160px;
}
.p{
    color: #FF5E00;
    font-size: 20px;
    margin-top: -20px;
}
.Text{
    color: #86520a;
    font-size: 20px;
    margin-top: 10px;
}
.Link{
    color: #FF5E00;
}
.sigIn{
    color: white;
    background-color: #FF5E00;
    border-radius: 5px;
    height: 55px;
    padding: 0 20px 0 20px;
    text-align: center;
    border-color: #FF5E00;
    font-size: 16px;
    width: 400px;
    margin-top: 10px;
    cursor: pointer;
}
.BadSignIn{
    background-color: #d3b6a69f;
    height: 55px;
    padding: 0 20px 0 20px;
    text-align: center;
    font-size: 16px;
    width: 400px;
    margin-top: 10px;
    cursor: pointer;
}
.passwordImg{
    background-image: url("../../images/eye.png");
    background-size: cover;
    border: 0 white;
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-left: -40px;
    position: absolute;
    cursor: pointer;
}
.passwordUnImg{
    background-image: url("../../images/un_eye.png");
    background-size: cover;
    border: 0 white;
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-left: -40px;
    position: absolute;
    cursor: pointer;
}
.lockImg{
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: 8px;
    margin-top: 20px;
}
.inputBox{

}
.errorMessage{
    font-size: 12px;
    color: red;
    z-index: 1000;
}