.categories {
    ul {
      position: relative;
      display: flex;
      margin-top: 0.5rem;
      li {
        font-size: 20px;
        background-color: #FFAA00;
        padding: 5px 5px;
        border-radius: 30px;
        font-weight: bold;
        cursor: pointer;
        margin-right: 5px;
        transition: background-color 0.1s ease-in-out;
        list-style-type: none;
        &:hover {
          background-color: darken(#FFAA00, 10%);
        }
  
        &:active {
          background-color: darken(#FFAA00, 20%);
        }
  
        &.active {
          background-color: #FF5E00;
          color: #fff;
        }
        @media screen and (max-width: 1921px) {
          font-size: 20px;
        }
        @media screen and (max-width: 1496px) {
          font-size: 20px;
        }
        @media screen and (max-width: 1199px) {
          font-size: 16px;
        }
        @media screen and (max-width: 1145px) {
          font-size: 16px;
        }
        @media screen and (max-width: 1095px) {
          font-size: 16px;
        }
        @media screen and (max-width: 1023px) {
          font-size: 16px;
        }
        @media screen and (max-width: 842px) {
          font-size: 16px;
        }
        @media screen and (max-width: 767px) {
          font-size: 12px;
        }
        @media screen and (max-width: 579px) {
          font-size: 10px;
        }
        @media screen and (max-width: 479px) {
          font-size: 10px;
        }
        @media screen and (max-width: 339px) {
          font-size: 10px;
        }
      
      }
    }
  }