.SearchHotel{
    display: flex;
    width: 100%;
    min-height: calc(100vh);
    justify-content: center;
    .blockSearchHotel{
        width: 60rem;
        height: 5rem;
        margin-top: 1rem;
        display: inline;
        justify-content: center;
        .inputSearch {
            padding-left: 2rem;
            padding-right: 2rem;
            margin: 0 auto;
            display: flex;
            position: relative;
            width: 700px;
            height: 47px;
            border-radius: 20px;
            padding: 9px 4px 9px 40px; 
        }
        .BlockFilteredHotels{
            margin-top: 2rem;
            display: flex;
            position: relative;
            flex-wrap: wrap;
            width: 60rem;
            height: 10rem;
            .searchedHotel{
                margin-top: 1rem;
                flex: 31%;
                max-width: 31%;
                background-color: #EBEBEB;
                position: relative;
                display: flex;
                height: 5rem;
                width: 5rem;
                margin-right: 1rem;
                border-radius: 1rem;
                transform: rotate(-0.34rem);
                cursor: pointer;
                .leftSearchedHotel{
                    position: relative;
                    width: 7rem;
                    background-color: aqua;
                    border-radius: 1rem;
                }
                .rightSearchedHotel{
                    position: relative;
                    margin-left: 0.5rem;
                    width: 10rem;
                    .h3Searched{
                        font-weight: 700;
                        font-size: 0.8rem;
                    }
                    .h4Searched{

                        margin-top: -0.5rem;
                        font-weight: 400;
                        font-size: 0.7rem;

                    }
                }
            }
        }
    }
}
