body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.maincontent{
  background: #FFAA00;
  height: 10rem;
  .mcontainer{
    display: flex;
    width: 40rem;
    margin: 0 auto;
    .mgrp{
      background: url("./img/mGrp.svg") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      display: flex;
      height: 9rem;
      width: 10.25rem;
    }
  }
  .maintxt{
    text-align: center;
    vertical-align: middle;
    color: #7F4E1D;
    margin-top: 1rem;
    line-height: 0.5rem;
    width: 30rem;
    height: 10rem;
    font-size: 1.5rem;
    white-space: nowrap;
  }
}
.mainpic{
  background: url("./img/backnd.svg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: 10rem;
  width: 100%;
  height: 100vh;
}