.bodyenter {
  display: flex;
  justify-content: center;
  align-content: center;
  background: url("../Hotels/img/fullbacknd.svg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: calc(100vh);
  width: 100%;

  .mainenter {
    /* Задний фон у регистрации */
    margin: 1rem auto;
    background: #F2C28A;
    width: 30rem;
    height: 32rem;
    display: flex;
    margin-bottom: 5%;
    
    .leftblockenter{
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      background-color: #F2C28A;
      justify-content: center;
      text-align: center;
      .picentertxt{
        display: block;
        width: 100%;
        height: 35%;
      }
      .cssvanna1{
        margin-top: 1rem;
        position: relative;
        height: 10rem;
      }
      .entertxt {
        /* Регистрация Текст */
        margin-top: 0;
        position: relative;
        font-style: normal;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2rem;
        color: #FF5E00;
      }

      .form-enter {
        display: block;
        position: absolute;
        margin-top: 0;
        width: 15rem;
        flex-direction: column;
        .blocktextinput{
          display: block;
          width: 100%;

          .hrega{
            font-size: 0.75rem;
            color: #7F4E1D;
          }
        }

        .padinput {
          padding-bottom: 0.25rem;
        }


        .text-field__label {
          display: block;
          margin-bottom: 0.25rem;

        }

        .text-field__input {
          display: block;
          width: 100%;
          height: 2rem;
          font-weight: 500;
          color: #AC8E71;
          background-color: #F3F3F3;
          background-clip: padding-box;
          border: 0;
          border-radius: 0.25rem;
          padding-left: 1.25rem;
          font-size: 1rem;
        }

        .text-field__input::placeholder {color: #AC8E71;}
        .text-field__input:focus {
          border-color: #F3F3F3;
        }
      }
    }
  }
}
.Errors{
  color: red;
  font-size: 0.25rem;
  width: 15rem;
}